In [19]:
import pandas as pd

# Carica il file JSON in un DataFrame
df = pd.read_json('src/SECTORS/XLRE_REAL_ESTATE.json')

# Crea un nuovo dataframe
df_clean = pd.DataFrame(columns=['date', 'IYZ%'])

# Itera sul dataframe originale
for index, row in df.iterrows():
    # Estrai la data e il prezzo dal dizionario 'historical'
    date = row['historical']['date']
    price = row['historical']['close']
    
    # Crea una nuova riga del dataframe pulito
    df_clean.loc[len(df_clean)] = [pd.to_datetime(date), float(price)]
    
# Ordina il dataframe per data crescente
df_clean = df_clean.sort_values(by='date')

# Resetta l'indice del dataframe
df = df_clean.reset_index(drop=True)

# converte le date in formato datetime
df['date'] = pd.to_datetime(df['date'])

# imposta la data come indice
df = df.set_index('date')

# estrae solo il valore di chiusura per il primo giorno di ogni mese
df_first_day = df.groupby(pd.Grouper(freq='MS')).first()

# calcola la percentuale di crescita mensile
df_growth = df_first_day.pct_change().dropna()

df_growth['IYZ%'] = df_growth['IYZ%'] * 100
telco_df = df_growth.reset_index(drop=False)
telco_df

         date       IYZ%
0  2015-11-01 -20.366836
1  2015-12-01  29.934603
2  2016-01-01  -2.554817
3  2016-02-01  -2.133946
4  2016-03-01   0.738007
..        ...        ...
85 2022-12-01   6.790292
86 2023-01-01  -5.337079
87 2023-02-01  10.304829
88 2023-03-01  -7.997065
89 2023-04-01  -1.568315

[90 rows x 2 columns]